<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
	
    <title>📛Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css" />
    <style>
    .sidebar{
    height:1000vh;
    }
    .page{
    height:100%;
    }
    @media screen and (max-width: 767px) {
      .sidebar {
        height: auto;
        padding: 15px;
      }
     }
    </style>
  </head>
  <body ng-app="adminapp">
    <div class="container-fluid page">
	  <div class="row">
	    <div class="col-sm-3 bg-primary sidebar">
	      <h1 class="text-white" id="top">📛Admin Panel</h1>
	      <h3 class="text-white lead">Welcome! [[${session.name}]] 👤</h3>
	      <div class="card bg-primary" >
		  <ul class="list-group list-group-flush text-center">
		    <a href="" class="list-group-item text-decoration-none">Home 🏠</a>
		    <a href="#addadmin" class="list-group-item text-decoration-none">Add Admin ➕</a>
		    <a href="#deletepost" class="list-group-item text-decoration-none">Delete Post 🚯</a>
		    <a href="" class="list-group-item text-decoration-none">Reported Posts</a>
		    <a href="#deleteaccount" class="list-group-item text-decoration-none">Delete Account 🚮</a>
		    <a href="/user/" class="list-group-item text-decoration-none">Switch To User</a>
		    <a href="/logout" class="list-group-item text-decoration-none">Logout 🚪</a>
		  </ul>
		</div>
	    </div>
	    <div class="col-sm  m-0 p-0">
	      <div class="jumbotron jumbotron-fluid bg-dark text-white text-center">
			  <div class="container-fluid">
			    <h1 class="display-4">DashBoard 🛹</h1>
			    <p class="lead">Story Of The Week About Site. 🧬 <button class="btn btn-primary btn-sm">Generate Report ⬇</button></p>
			  </div>
			</div>
			<hr class="bg-dark border border-dark"/>
			<div class="row" ng-controller="dashboard">
			<div class="col-sm">
				<div class="card border border-dark text-center bg-success">
			      <div class="card-body">
			        <h5 class="card-title">Total Users 👥</h5>
			        <h6 class="card-text h3">{{usercount}}</h6>
			      </div>
			    </div>
			</div>
			<div class="col-sm">
				<div class="card border border-dark text-center bg-primary">
			      <div class="card-body">
			        <h5 class="card-title">Total Posts 📰</h5>
			        <h6 class="card-text h3">{{postcount}}</h6>
			      </div>
			    </div>
			</div>
			<div class="col-sm">
				<div class="card border border-dark text-center bg-warning">
			      <div class="card-body">
			        <h5 class="card-title">Total Comments ☁</h5>
			        <h6 class="card-text h3">{{commentcount}}</h6>
			      </div>
			    </div>
			</div>
			</div>
			<hr class="bg-dark border border-dark"/>
			<!-- DashBoard Ended -->
			<!-- Add Admin -->
			 <div class="container" id="addadmin">
			 <h4 class="display-4">Add Other Admin ➕</h4>
			 <div class="card border border-dark">
			 <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			  <p th:text="${session.message.content}"></p>
			  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
				 <div class="card-header bg-dark text-white">
				    Add Admin
				  </div>
				  <div class="card-body">
				    <form th:action="@{/admin/addadmin}" method="POST" th:object="${user}">
				    	<div class="form-group">
					    <label for="exampleInputEmail1">Admin Name</label>
					    <input type="text" class="form-control border border-dark" id="exampleInputEmail1"  placeholder="Enter Your Name" name="name"
                    th:value="${user.name}" required> 
					    
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1"> Admin Unique ID</label>
					    <input type="text" class="form-control border border-dark" id="exampleInputEmail1"  placeholder="Enter Your Unique id On CUTM Domain" name="registration"
                    th:value="${user.registration}" required>
					    
					  </div>
					  <div class="form-group">
					    <label for="exampleInputEmail1"> Admin College</label>
					    <select name="collegename" class="form-control border border-dark" required>
					    <option value="CUTM,PKD">CUTM,PKD</option>
				    	<option value="CUTM,BBSR">CUTM,BBSR</option>
				    	<option value="CUTM,VIZAG">CUTM,VIZAG</option>
					    </select>
					    
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Admin Password</label>
					    <input type="password" class="form-control border border-dark" id="exampleInputPassword1" placeholder=" Enter Secure Password" name="password"  title="8 characters minimum" pattern=".{8,}" required>
					  </div>
					  
					  <button class="btn btn-success" type="submit">➕ Admin</button>
					</form>
				    
				  </div>
			 </div>
			 </div>
			 <!-- Delete Post -->
			 <hr class="bg-dark border border-dark"/>
			 <div class="container" id="deletepost">
			 <div class="card border border-dark" ng-controller="deletepost">
			 <div class="card-header bg-dark text-white">Delete Post <a href="#top" class="float-right">Go Up👆</a></div>
			 <div class="card-body">
			 <div class="form-group">
			 <label for="">Enter Post Id:</label>
			 <input type="text" class="form-control border border-dark" placeholder="Enter Post Id which You Want To Delete"/ ng-model="postid">
			 </div>
			 <button class="btn btn-danger" type="submit" ng-click="deletepostfuntion(postid);"> Delete 🔥</button>
			 <hr class="border border-dark " />
			 <h1 class="lead ">Reported Posts 🚫</h1>
			 <table class="table table-hover table-borderless" ng-controller="showreported" ng-init="showrplist();">
			  <thead>
			    <tr>
			      <th scope="col">Post_ID</th>
			      <th scope="col">Post_Heading</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat=" list in listofreported">
			      <td>{{list.pid}}</td>
			      <td><a href="/user/post/{{list.pid}}">{{list.postHeading}}</a></td>
			      <td>
			      <button class="btn btn-danger" ng-click="deletereportedpost(list.pid)" > Delete 🔥</button>
			      <button class="btn btn-primary" ng-click="removefromreportedlist(list.pid)"> Remove From Reported ❎</button>
			      
			    </tr>
			    </tbody>
			    </table>
			   <nav aria-label="...">
				  <ul class="pagination">
				    <li class="page-item disabled">
				      <span class="page-link">Previous</span>
				    </li>
				    <li class="page-item">
				      <a class="page-link" href="#">Next</a>
				    </li>
				  </ul>
				</nav>
			 </div>
			 </div>
			 </div>
			 <!-- Delete Account -->
			 <hr class="bg-dark border border-dark"/>
			 <div class="container" id="deleteaccount">
			 <div class="card border border-dark" ng-controller="deleteaccount">
			 <div class="card-header bg-dark text-white">Delete Account <a href="#top" class="float-right">Go Up👆</a></div>
			 <div class="card-body">
			 <div class="form-group">
			 <label for="">Enter Account Id:</label>
			 <input type="text" class="form-control border border-dark" placeholder="Enter Account Id To Delete🔥" / ng-model="uid">
			 </div>
			 <button class="btn btn-danger" type="submit" ng-click="deletefuntion(uid);" > Delete Account 🔥</button>
			 <table class="table table-hover table-borderless" ng-init="listalluser();">
			  <thead>
			    <tr>
			      <th scope="col">User_ID</th>
			      <th scope="col">User Name</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="us in listofusers">
			      <td>{{us.uid}}</td>
			      <td><a href="/user/user/{{us.uid}}">
			      {{us.name}}</a></td>
			      <td>
			      <button class="btn btn-danger" ng-click="deletefuntion(us.uid)"> Delete 🔥</button>
			      <button class="btn btn-warning" ng-click="blockuser(us.uid)" >{{us.enabled==true ? "Block 🚫" :"UnBlock"}}</button>
			      </td>
			    </tr>
			    </tbody>
			    </table>
			   <nav aria-label="...">
				  <ul class="pagination">
				    <li class="page-item disabled">
				      <span class="page-link">Previous</span>
				    </li>
				    <li class="page-item">
				      <a class="page-link" href="#">Next</a>
				    </li>
				  </ul>
				</nav>
			 </div>
			 </div>
			 </div>
			
	    </div>
	    
	    
	  </div>
	</div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script >
    var app=angular.module("adminapp",[]);
    app.controller("dashboard",($scope,$http)=>{
    	$http.get("/admin/dashboard").then(
    	(response)=>{
    		$scope.usercount=response.data[0];
    		$scope.postcount=response.data[1];
    		$scope.commentcount=response.data[2];
    	}
    	,
    	(error)=>{
    		console.log(error);
    	}		
    	)
    });
    app.controller("deleteaccount",($scope,$http)=>{
    	
    	$scope.listalluser=()=>{
    		$http.get("/admin/listallusers").then(
    				(response)=>{
    					$scope.listofusers=response.data;
    					//console.log(response.data);
    				},
    				(error)=>{
    					console.log(error);
    				}
    		)
    	}
    	
    	$scope.blockuser=(id)=>{
    		var a=confirm('Are Your sure You Want To Block🚯 This Account?');
    		if(a)
    			{
    			$http.get("/admin/blockuser/"+id).then(
        				(response)=>{
        					console.log(response.data);
        					$scope.listalluser();
        					//console.log(response.data);
        				},
        				(error)=>{
        					console.log(error);
        				}
        		)
    			}
    		
    	}
    	
    	$scope.deletefuntion=(uid)=>{
    		var a=confirm('Are Your sure You Want To Delete🔥 This Account?');
    		if(a)
    			{
    			$http.get("/admin/deleteaccount/"+uid).then(
        		    	(response)=>{
        		    		console.log(response.data);
        		    		$scope.listalluser();
        		    	}
        		    	,
        		    	(error)=>{
        		    		console.log(error);
        		    	}		
        		    	)
    			}
    		
    	}
    	
    });
    
    app.controller("deletepost",($scope,$http)=>{
    	$scope.deletepostfuntion=(pid)=>{
    		$http.get("/admin/deletepost/"+pid).then(
    		    	(response)=>{
    		    		console.log(response.data);
    		    	}
    		    	,
    		    	(error)=>{
    		    		console.log(error);
    		    	}		
    		    	)
    	}
    	
    });
    
    app.controller("showreported",($scope,$http)=>{
    		$scope.showrplist=()=>{
    			$http.get("/admin/getreportedpost").then(
    			(response)=>{
    				console.log(response.data);
    				$scope.listofreported=response.data;
    				
    			}
    			,
    			(error)=>{
    				console.log(error);
    			}		
    			)
    		}
    		
    		$scope.deletereportedpost=(id)=>{
    			$http.get("/admin/deletereportedpost/"+id).then(
    					(response)=>{
    						$scope.showrplist();
    						console.log(response.data);
    					}
    					,
    					(error)=>{
    						console.log(error);
    					});
    			
    		}
    		
    		$scope.removefromreportedlist=(id)=>{
    			$http.get("/admin/removefromreportedlist/"+id).then(
    					(response)=>{
    						$scope.showrplist();
    						console.log(response.data);
    					}
    					,
    					(error)=>{
    						console.log(error);
    					});
    			
    		}
    		
    });
    
    
    </script>
    
    
    
    

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>