<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>🔑-Change password</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container">
		<div class="jumbotron border border-dark">
		  <h1 class="display-4 text-center "><u>Change Password 🔑</u></h1>
		  <p class="lead text-center">Change Password Of Your Account 🔑 By Providing New Password for :<b>[[${forgetpass.email}]]</b> </p>
		  <hr class="my-4">
		  <p class="text-center">
		  <div class="card text-center">
		  <div class="card-body">
		    <p class="card-text mb-2">
		    <form th:action="@{|/changepassword/${forgetpass.uniquekey}|}" method="POST" th:object="${forgetpass}">
		    <input type="password" name="pwd" class="form-control border border-primary" placeholder="Enter New Password 🔑" title="8 characters minimum" pattern=".{8,}">
		    </p>
		    <button type="submit" class="btn btn-success">Change Password 🔑</button>
		    </form>
		  </div>
		</div>
		  
		</div>
	</div>

	
</body>
</html>