<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
	<div class="container">
	
	<h1 class="display-3">#️⃣[[${taginfo.tag_name}]] </h1>
	<span class="text-muted my-2 mx-1"><em class="text-bold">[[${taginfo.tag_name}]]</em> was created on [[${taginfo.tag_createdon}]] ✔</span>
	<hr>
	</div>
	
	<!-- 
	After This Section Anhular code will be there
	 -->
	 
	 
	</section>
	
</body>
</html>