<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
	<style>
	img {
    max-width: 100%;
    height: auto;
    }
	</style>
	<div class="container-fluid">
      <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-9" >
        
          <div class="card p-4 m-1">
            <!-- Title -->
            <h1 class="mt-4" th:text="${post.postHeading}"></h1>

            <!-- Author -->
            <p class="lead">
              by
              <a href="#" th:text="${post.authorName}"></a>
            </p>

            <hr />

            <!-- Date/Time -->
            <p th:if="${post.postedon}">Posted on [[${post.postedon}]]</p>

            <hr />

            <!-- Preview Image -->
            <img
              class="img-fluid rounded"
              th:src="@{${post.postHeadImage}}"
              alt=""
            />

            

            <!-- Post Content -->
            <p class="lead" th:remove="tag" th:utext="${post.postDescription}">
              
            </p>

            <p th:utext="${post.postContent}">
              
            </p>

            <hr />
            <div>
            <button class="btn btn-default btn-lg ml-4 btn-outline-dark">👍|👎</i></button>
            <button class="btn btn-default btn-lg ml-4 btn-outline-dark"><i class="fa fa-share-alt-square fa-3" aria-hidden="true"></i></button>
            <button class="btn btn-default btn-lg ml-4 btn-outline-dark"><i class="fa fa-ellipsis-v fa-3" aria-hidden="true"></i></button>
            </div>
            <hr />
            <div class="container">
			<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			<p th:text="${session.message.content}"></p>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
            <!-- Comments Form -->
            <div class="card my-4">
              <h5 class="card-header">Leave a Comment:</h5>
              <div class="card-body">
                <form th:action="@{'/user/writecomment/'+${post.pid}}"
                 method="POST" th:object="${comment}">
                  <div class="form-group">
                    <textarea
                      name="commentcontent"
                      class="form-control"
                      rows="3"
                      required
                      maxlength="300"
                      placeholder="Share Your Thoughts Here ☁"
                      th:value="${comment.commentcontent}"
                    ></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>

            <!-- Single Comment -->
            <div class="card">
              <div class="card-header text-center">Comments ☁ ✏</div>
              <ul class="list-group list-group-flush">
              <li class="list-group-item" th:if="${comm.empty}">
              <p class="text-center">❌ No Comments ❌</p>
              </li>
                
                
                <li class="list-group-item" th:each="c : ${comm}">
                  <div class="media mb-4">
                    <img
                      class="d-flex mr-3 rounded-circle"
                      src="/img/default.jpg"
                      height="50"
                      width="50"
                      alt=""
                    />
                    <div class="media-body">
                      <h5 class="mt-0" th:text="${c.name}"></h5>
                      <span><strong>[[${c.commentcontent}]]</strong></span>
                       -<small class="text-muted" th:text="${#dates.format(c.commenton, 'dd-MM-yyyy HH:mm')}"></small>
                    </div>
                  </div>
                </li>
                

    
              </ul>
            </div>
          </div>
        </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">
          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search for..."
                />
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They
              are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>
        </div>
      
      <!-- /.row -->
    </div>
    <!-- /.container -->
    </div>
    <script>
    var app=angular.module("like",[]);
    app.controller("likepost",($scope)=>{
    	
    });
    </script>
	</section>
	
</body>
</html>