<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/signup.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>SignUp!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
			  <p th:text="${session.message.content}"></p>
			  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
              <h5 class="card-title text-center">Register</h5>
              <form class="form-signin" th:action="@{/register}" method="POST" th:object="${user}">
                <div class="form-label-group">
                  <input
                    type="text"
                    id="registration"
                    class="form-control"
                    placeholder="Registration No"
                    required
                    autofocus
                    name="registration"
                    th:value="${user.registration}"
                    
                  />
                  <label for="registration">College unique id </label>
                </div>

                <div class="form-label-group">
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    placeholder="Email address"
                    required
                    name="name"
                    th:value="${user.name}"
                  />
                  <label for="name">Name</label>
                  
                </div>
                
                <div class="form-label-group">
                  <select class="form-control" id="college" name="collegename">
				    <option value="CUTM,PKD">CUTM,PKD</option>
				    <option value="CUTM,BBSR">CUTM,BBSR</option>
				    <option value="CUTM,VIZAG">CUTM,VIZAG</option>
				  </select>
                  
                </div> 
                

                <hr />

                <div class="form-label-group">
                  <input
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    required
                  />
                  <label for="inputPassword">Password</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="password"
                    id="inputConfirmPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <label for="inputConfirmPassword">Confirm password</label>
                </div>
                <div class="form-check text-center">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1" required name="agree">
			    <label class="form-check-label" for="exampleCheck1">I Agree To the Terms And Conditon !.</label>
			  </div>
				<br>
                <button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  type="submit"
                >
                  Register
                </button>
                <a class="d-block text-center mt-2 small" href="/user/">Already a Member ? Sign In</a>
                <a class="d-block text-center mt-2 small" href="/">Back to Home 🏠</a>
                <hr class="my-4" />
                <button
                  class="btn btn-lg btn-google btn-block text-uppercase"
                  type="submit"
                >
                  <i class="fab fa-google mr-2"></i> Sign up with Google
                </button>
                <button
                  class="btn btn-lg btn-facebook btn-block text-uppercase"
                  type="submit"
                >
                  <i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
