<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
	<div class="container">
	<h1 class="display-3">#️⃣ Tags</h1>
	<span class="text-muted my-2 mx-1">Make Your Post Stand For a Topic ✔</span>
	<hr>
	</div>
	<div ng-app="tagpage">
	<div class="container" >
	<div class="card border border-dark"  ng-controller="tagbyloggedin">
	  <h5 class="card-header bg-dark text-white" >Tags Created By You !</h5>
	  <div class="card-body ">
	    <p class="card-text"><a href="/user/tag/{{x.tag_id}}" class="btn btn-warning border border-dark mx-1" ng-repeat="x in youtags">#{{x.tag_name}}</a></p>
	    
	  </div>
	</div>
	</div>
	<br />
	<div class="container" >
	<div class="card border border-dark"  >
	  <h5 class="card-header bg-dark text-white" >All #Tags</h5>
	  <div class="card-body ">
	    <p class="card-text" >
	    <a th:each="alltag: ${taglist}" th:href="@{|/user/tag/${alltag.tag_id}|}" class="btn btn-danger border border-dark mx-1" >#[[${alltag.tag_name}]]</a>
	    </p>
	    
	  </div>
	</div>
	</div>
	
	</div>
	<!-- 
	After This Section Anhular code will be there
	 -->
	 <script>
	 var app=angular.module("tagpage",[]);
	 app.controller("tagbyloggedin",($scope,$http)=>{
		 $http.get("/user/api/tag").then(
				 (response)=>
				 {
					 console.log(response.data);
					 $scope.youtags=response.data;
				 }
				 ,
				 (error)=>
				 {
					 console.log(error);
				 })
	 });
	 </script>
	</section>
	
</body>
</html>