<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
	<div class="container">
	
	<h1 class="display-3">#️⃣[[${taginfo.tag_name}]] </h1>
	<span class="text-muted my-2 mx-1"><em class="text-bold">[[${taginfo.tag_name}]]</em> was created on [[${taginfo.tag_createdon}]] ✔</span>
	<hr>
	</div>
	<div class="container">
	<h3>Here All The Post :-</h3>
	<hr />
	<!-- Blog Post -->
	<div ng-app="tagapp" ng-controller="tagcontoller">
          <div class="card mb-2 border border-dark" ng-repeat="post in posts">
            <img
              class="card-img-top"
              ng-src="{{post.postHeadImage}}"
              alt="{{post.postHeading}}"
              
		ng-if="post.postHeadImage"
            />
            <div class="card-body">
              <h2 class="card-title">
                {{post.postHeading}}
              </h2>
              <p class="card-text" ng-if="post.postDescription" ng-bind-html="post.postDescription">
                
              </p>
              <a href="/user/post/{{post.pid}}" class="btn btn-primary"
                >Read Post 📪</a
              >
            </div>
            <div class="card-footer text-muted">
              Posted on {{post.postedon | date:'medium'}} by
              <a href="/user/user/{{post.id}}">{{post.authorName}}</a>
            </div>
          </div>
          </div>
	
	</div>
	<!-- 
	After This Section Anhular code will be there
	 -->
	 <script>
	 var app = angular.module("tagapp", ["ngSanitize"]);

	 app.controller("tagcontoller", ($scope, $http) => {
	   $http.get("/user/api/postbytag/[[${taginfo.tag_name}]]").then(
	     (response) => {
	       $scope.posts = response.data;
	       console.log($scope.posts);
	     },
	     (fail) => {
	       console.log("failed");
	     }
	   );
	 });
	 </script>
	 
	</section>
	
</body>
</html>