<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
	<div class="container-fluid">
      <div class="card">
        <div class="text-center bg-dark">
          <img
            src="https://instagram.fpat2-1.fna.fbcdn.net/v/t51.2885-15/e35/70770849_2423692161237945_1353497240572938774_n.jpg?_nc_ht=instagram.fpat2-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=BbFAGW-tLtMAX-G6ypB&_nc_tp=18&oh=3e18c7fa80cca54779463a3dfa8eb080&oe=5F962142"
            alt="profile_pic"
            class="rounded-circle text-center m-3"
            style="height: 20vh; width: 20vh"
          />
          <div class="text-right mx-2">
            <ul class="list-inline">
              <li class="list-inline-item">
                <button class="btn btn-primary">Follow</button>
              </li>
              <li class="list-inline-item">
                <button class="btn bg-white">...</button>
              </li>
            </ul>
          </div>
        </div>

        <p class="card-title text-center mt-2 h3">Ashish</p>
        <div class="card-title text-center mt-1">
          An Computer Science Graduate .
        </div>
        <div class="card-body text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <i class="fa fa-birthday-cake mx-1" aria-hidden="true"></i>Joined
              on Sep 2, 2020
            </li>
            <li class="list-inline-item">
              <i class="fa fa-map-marker mx-1" aria-hidden="true"></i> India
            </li>
            <li class="list-inline-item">
              <a href="http://" target="_blank"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="http://" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="http://" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="http://" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>

        <div class="card text-center p-2">
          Studies at<br />
          Centuirion University,Paralakhemundi
        </div>
      </div>
    </div>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-md-2">
          <div class="card">
            <div class="card">
              <ul class="list-inline my-1">
                <li class="list-item">25 Posts Published</li>
                <li class="list-item">11 Comments Written</li>
                <li class="list-item">10 Tags Followed</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card mb-2 border border-dark">
            <div class="card-body">
              <h2 class="card-title">
                Life becomes about being a better version of yourself.
              </h2>
              <hr />
              <a href="../Post_overview/postover.html" class="btn btn-primary">
                Read Post 📪</a
              >
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2020 by
              <a href="#">Start Bootstrap</a>
            </div>
          </div>
          <div class="card">
            <div class="card mb-2 border border-dark">
              <img
                class="card-img-top"
                src="##https://source.unsplash.com/random/750x300"
                alt="Card image cap"
                style="height: 300px"
              />
              <div class="card-body">
                <h2 class="card-title">
                  The most important things in life are measured internally.
                  Thinking about what matters to you is hard.
                </h2>
                <p class="card-text">
                  Playing to someone else’s scoreboard is easy, that’s why a lot
                  of people do it. But winning the wrong game is pointless and
                  empty. You get one life. Play your own game.
                </p>
                <a href="../Post_overview/postover.html" class="btn btn-primary"
                  >Read Post 📪</a
                >
              </div>
              <div class="card-footer text-muted">
                Posted on January 1, 2020 by
                <a href="#">Start Bootstrap</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card my-4 border border-dark">
            <h5 class="card-header bg-primary text-white border border-dark">
              Side Widget
            </h5>
            <div class="card-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium quae consequatur neque ipsa provident, voluptatibus
              quasi minus natus nesciunt quas temporibus qui quidem nisi
              voluptate iste dolores, error officiis veritatis!
            </div>
          </div>
          <div class="card my-2 border border-dark">
            <h5 class="card-header bg-primary text-white border border-dark">
              #️⃣ Tags
            </h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">#Web Design</a>
                    </li>
                    <li>
                      <a href="#">#HTML</a>
                    </li>
                    <li>
                      <a href="#">#Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">#JavaScript</a>
                    </li>
                    <li>
                      <a href="#">#CSS</a>
                    </li>
                    <li>
                      <a href="#">#Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</section>
	
</body>
</html>