<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
	<div class="container-fluid" ng-app="follow">
      <div class="card">
        <div class="text-center bg-dark">
          <img
            th:src="@{${udetail.profilepic}}"
            alt="profile_pic"
            class="rounded-circle text-center m-3"
            style="height: 20vh; width: 20vh"
          />
          <div class="text-right mx-2" th:if="${follow==true}">
            <ul class="list-inline" >
              <li class="list-inline-item" ng-controller="followcontroller" ng-init="followedornot();">
                <button class="btn btn-primary" ng-click="followfun();">{{followbutton}}</button>
              </li>
              <li class="list-inline-item">
                <button class="btn bg-white">...</button>
              </li>
            </ul>
          </div>
          <div class="text-right mx-2" th:if="${follow==false}">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/user/settings" class="btn btn-success"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Edit Profile</a>
              </li>
            </ul>
          </div>
          
          
        </div>

        <p class="card-title text-center mt-2 h3" th:text="${udetail.name}"></p>
        <div class="card-title text-center mt-1" th:text="${udetail.aboutme}">
          
        </div>
        <div class="card-body text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <i class="fa fa-birthday-cake mx-1" aria-hidden="true"></i>Joined
              on <span th:text="${#dates.format(udetail.joinedon, 'dd-MM-yyyy HH:mm')}"></span>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-map-marker mx-1" aria-hidden="true"></i> India
            </li>
            <li class="list-inline-item" th:if="${udetail.twitterid != null}">
              <a th:href="@{|http://twitter.com/${udetail.twitterid}|}" target="_blank"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li class="list-inline-item" th:if="${udetail.fbid != null}">
              <a th:href="@{|https://www.facebook.com/${udetail.fbid}|}" target="_blank">
                <i class="fa fa-facebook-square" aria-hidden="true"></i
              ></a>
            </li>
            <li class="list-inline-item" th:if="${udetail.instaid != null}">
              <a th:href="@{|https://www.instagram.com/${udetail.instaid}|}" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li class="list-inline-item" th:if="${udetail.githubid != null}">
              <a th:href="@{|https://github.com/${udetail.githubid}|}" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>

        <div class="card text-center p-2">
          Studies at<br />
          Centurion University,<span th:if="${udetail.collegename == 'CUTM,PKD'}" th:text="Paralakhemundi"></span>
          <span th:if="${udetail.collegename == 'CUTM,BBSR'}" th:text="Bhubaneswar"></span>
          <span th:if="${udetail.collegename == 'CUTM,VIZAG'}" th:text="Vizag"></span>
      </div>
    </div>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-md-2">
          <div class="card">
            <div class="card border border-dark">
              <ul class="list-inline my-1">
                <li class="list-item"><span th:text="${noofpost}" class="font-weight-bold"></span> Posts Published</li>
                <li class="list-item"><span th:text="${noofcomment}" class="font-weight-bold"></span> Comments Written</li>
                <li class="list-item"><span th:text="${nooffollower}" class="font-weight-bold"></span> people Followed</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7">
        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
		<p th:text="${session.message.content}"></p>
		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
        <!-- Post starts From Here  -->
          <div class="card" th:each="post: ${listofPost}" th:unless="${listofPost.empty}">
            <div class="card mb-2 border border-dark">
              <img
              th:if="${post.postHeadImage != null}"
                class="card-img-top"
                th:src="@{${post.postHeadImage}}"
                alt="Card image cap"
              />
              <div class="card-body">
                <h2 class="card-title" th:text="${post.postHeading}">
                </h2>
                <p class="card-text" th:utext="${post.postDescription}" th:if="${post.postDescription != null}">
                </p>
                <a th:href="@{|/user/post/${post.pid}|}" th:if="${post.postStatus==true}" class="btn btn-primary"
                  >Read Post 📪</a
                >
                <a th:href="@{|/user/deletepost/${post.pid}|}" class="btn btn-outline-danger btn-sm mx-4" th:if="${editable == true}" onclick="return confirm('Are you sure to Delete Post🚮?')">Delete🔥</a>
                <a th:href="@{|/user/editpost/${post.pid}|}" class="btn btn-outline-dark btn-sm mx-1" th:if="${editable == true}" onclick="return confirm('Are you sure to Edit Post ✏?')">Edit✏</a>
                <a th:href="@{|/user/savedtopost/${post.pid}|}" class="btn btn-success btn-sm mx-1" th:if="${editable == true && post.postStatus==false}" onclick="return confirm('Are you sure to Post ✏?')">Post This Draft 📁</a>
              </div>
              <div class="card-footer text-muted">
                Posted on <span th:text="${#dates.format(post.postedon, 'dd-MM-yyyy HH:mm')}"></span> by
                <a th:href="@{|/user/user/${post.id}|}"><span th:text="${post.authorName}"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          
          <div class="card my-2 border border-dark">
            <h5 class="card-header bg-primary text-white border border-dark">
              #️⃣ Tags By [[${udetail.name}]]
            </h5>
            <div class="card-body">
            <p ng-controller="tagbyloggedin">
            <a href="/user/tag/{{x.tag_id}}" class="btn btn-warning border border-dark mx-1" ng-repeat="x in youtags">#{{x.tag_name}}</a>
            </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    var app=angular.module("follow",[]);
    app.controller("followcontroller",($scope,$http)=>{
    	var url1="/user/api/followedornot/[[${udetail.uid}]]";
    	var url2="/user/api/follow/[[${udetail.uid}]]";
    	//this function is to follow 
    	$scope.followfun=()=>{
    		$http.get(url2).then(()=>{
    			$scope.followedornot()
    		});
    	}
    	//this function is to get the followStatus 
    	$scope.followedornot=()=>{
    		$http.get(url1).then(
    		(response)=>
    		{
    			//console.log(response);
    			var status=response.data.followed;
    			if(status==0)
    				{
    				$scope.followbutton="Follow ✅";
    				}
    			else
    				{
    				$scope.followbutton="UnFollow ❌";
    				}
    		}
    		,
    		(error)=>
    		{
    			console.log(error);
    			console.log("error Occured !");
    		}		
    		)
    	}
    	
    	
    	
    });
    app.controller("tagbyloggedin",($scope,$http)=>{
		 $http.get("/user/api/tag").then(
				 (response)=>
				 {
					 console.log(response.data);
					 $scope.youtags=response.data;
				 }
				 ,
				 (error)=>
				 {
					 console.log(error);
				 })
	 });
    </script>
	</section>
	
</body>
</html>