<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<section>
	<!-- Page Content -->
    <div class="container-fluid">
      <div class="row">
        <!-- Profile Section -->
        <div class="col-sm-2 nopadding">
          <!-- Search Widget -->
          <div class="m-0 rounded border border-dark">
            <div class="card">
              <span
                ><img
                  src="https://instagram.fpat2-1.fna.fbcdn.net/v/t51.2885-15/e35/70770849_2423692161237945_1353497240572938774_n.jpg?_nc_ht=instagram.fpat2-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=BbFAGW-tLtMAX-G6ypB&_nc_tp=18&oh=3e18c7fa80cca54779463a3dfa8eb080&oe=5F962142"
                  alt="profile_pic"
                  style="height: 8vh"
                  class="imagecircle mt-2 mb-2 rounded-circle"
                />
                [[${session.name}]]</span
              >
              <ul class="list-group card border border-dark">
                <li class="list-group-item">Reading List 📚</li>
                <li class="list-group-item">Tags #️⃣</li>
                <li class="list-group-item">Followed 🚶‍♂️</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Blog Entries Column -->
        <div class="col-lg-6 container-fluid" ng-app="myblogapp" ng-controller="postcontoller">
          <h1 class="my-4">
            Posts 📫
            <small
              >Recent Posts
              <a href="../Add_post/post.html" class="btn btn-success mx-5">
                ➕Post
              </a></small
            >
          </h1>
          <!-- Blog Post -->
          <div class="card mb-2 border border-dark" ng-repeat="post in posts">
            <img
              class="card-img-top"
              ng-src="{{post.postHeadImage}}"
              alt="{{post.postHeading}}"
              
		ng-if="post.postHeadImage"
            />
            <div class="card-body">
              <h2 class="card-title">
                {{post.postHeading}}
              </h2>
              <p class="card-text" ng-if="post.postDescription" ng-bind-html="post.postDescription">
                
              </p>
              <a href="/user/post/{{post.pid}}" class="btn btn-primary"
                >Read Post 📪</a
              >
            </div>
            <div class="card-footer text-muted">
              Posted on {{post.postedon}} by
              <a href="/user/account/{{post.id}}">{{post.authorName}}</a>
            </div>
          </div>

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item border border-dark disabled">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item border border-dark">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">
          <!-- Search Widget -->
          <div class="card my-4 border border-dark">
            <h5 class="card-header bg-primary text-white border border-dark">
              🔎 Search
            </h5>
            <div class="card-body">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search for..."
                />
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-2 border border-dark">
            <h5 class="card-header bg-primary text-white border border-dark">
              #️⃣ Tags
            </h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">#Web Design</a>
                    </li>
                    <li>
                      <a href="#">#HTML</a>
                    </li>
                    <li>
                      <a href="#">#Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">#JavaScript</a>
                    </li>
                    <li>
                      <a href="#">#CSS</a>
                    </li>
                    <li>
                      <a href="#">#Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4 border border-dark">
            <h5 class="card-header bg-primary text-white border border-dark">
              Side Widget
            </h5>
            <div class="card-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium quae consequatur neque ipsa provident, voluptatibus
              quasi minus natus nesciunt quas temporibus qui quidem nisi
              voluptate iste dolores, error officiis veritatis!
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
	</section>
	
</body>
</html>